
.user-reg{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.userInput,.userText{
    width: 50%;
    color: rgb(33, 5, 59);
    border-radius: 5px;
    border: 1px solid blueviolet;
   
}
.userLabel{
    color: blueviolet;
    font-size: large;
    
}
.userHeader{
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 20px;
}
.address{
    color: rgb(33, 5, 59);
}
.profile{
    padding: 20px;
}
