
.user-reg{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
input,textarea{
    width: 50%;
    color: rgb(33, 5, 59);
    border-radius: 5px;
    border: 1px solid blueviolet;
}
label{
    color: blueviolet;
    font-size: large;
    
}
h1{
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 20px;
}
p{
    color: rgb(33, 5, 59);
}

.row{
    margin : 30px;
}
