.detailHeader{
    color:blueviolet;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.detailRow{
    font-size: 17px;
}
.detail{
    font-size: 17px;
    color: rgb(41, 7, 73);
    
}
.colDetail{
    margin-left: 40%
}