.row{
    padding-bottom: 30px;
}
.btnAdd{
    width: 100%;
    height:45px;
    background-color: rgb(184, 139, 226);
    border-radius: 2rem;
    border:rgb(142, 30, 247);
    font-size: 18px;
    cursor: pointer;
}
.table-striped{
    font-size: 20px;
    font-family: monospace;
}
.table-striped > thead{
    color:blueviolet;
}
.table-striped > tbody{
    color: rgb(142, 30, 247);
}
.stdInput{
    width: 100%;
    height:40px;
    text-align: center;
    font-size: larger;
    border-radius: 5px;
    border: 1px solid blueviolet;
}
.stdLabel{
    font-size: 20px;
    color: blueviolet;
}
.btnAdd:hover {
	-webkit-transform: translateY(-1px);
	transform: translateY(-3px);
    background-color: rgb(171, 111, 228);
}
.select{
    height:45px;
    border: 1px solid rgb(33, 6, 58);
    font-size: 18px;
    color:rgb(71, 11, 128)
}
.option{
    font-size: 18px;
    color:rgb(71, 11, 128)
}
.RadioDiv{
    margin: 30px;
    font-size: 20px;
    color: blueviolet;
}
.Radio{
    color: black;
    width: 18px;
    height:18px;
    padding: 20px;
}
.RadioLabel{
    color: blueviolet;
    font-size: 20px;
}
